<h3 class='post-ttl' style='color: <%= @member.color %>;'><span style='border-bottom: 2px dotted <%= @member.color %>'><%= Date.today.month %>月がんばったおてつだい</span></h3>
<table class='item-list-wrap post-list-wrap'>
  <tr>
    <th>ひにち</th>
    <th>おてつだい</th>
    <th>きんがく</th>
    <th>へんしゅう</th>
    <th>さくじょ</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td class='item-list-day'><%= post.day %></td>
      <td class='item-list-name'><%= Item.find_by(id: post.item_id).name %></td>
      <td class='item-list-price'><%= Item.find_by(id: post.item_id).price %></td>
      <td class='item-list-edit-btn post-list-edit-btn'><%= link_to 'へんしゅう', edit_member_path(@member.id), style: "background: #{@member.color}", method: :get %></td>
      <td class='item-list-delete-btn post-list-delete-btn'><%= link_to 'さくじょ', member_path(@member.id), method: :delete %></td>
    </tr>
  <% end %>
</table>
<% @posts_sum = 0 %>
<% @posts.each do |post| %>
  <% @posts_sum += Item.find_by(id: post.item_id).price %>
<% end %>
<p><%= Date.today.month %>月の おてつだいの おだちんは ぜんぶで</p>
<p><%= @posts_sum %>えん</p>

<h3 class='post-ttl' style='color: <%= @member.color %>;'><span style='border-bottom: 2px dotted <%= @member.color %>'><%= Date.today.last_month %>月がんばったおてつだい</span></h3>
<table class='item-list-wrap post-list-wrap'>
  <tr>
    <th>ひにち</th>
    <th>おてつだい</th>
    <th>きんがく</th>
    <th>へんしゅう</th>
    <th>さくじょ</th>
  </tr>
 <% @posts_prev_month.each do |post| %>
    <tr>
      <td class='item-list-day'><%= post.day %></td>
      <td class='item-list-name'><%= Item.find_by(id: post.item_id).name %></td>
      <td class='item-list-price'><%= Item.find_by(id: post.item_id).price %></td>
      <td class='item-list-edit-btn post-list-edit-btn'><%= link_to 'へんしゅう', edit_member_path(@member.id), style: "background: #{@member.color}", method: :get %></td>
      <td class='item-list-delete-btn post-list-delete-btn'><%= link_to 'さくじょ', member_path(@member.id), method: :delete %></td>
    </tr>
  <% end %>
</table>


<%= link_to "前の月のリンク", members_path(month:@month.prev_month) %>
<%= link_to "次の月のリンク", members_path(month:@month.next_month) %>





